/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/fonts/JetBrainsMono-Regular.woff2") format('woff2'),
  url("/assets/fonts/JetBrainsMono-Regular.woff") format('woff');
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

@import '~@angular/material/theming';
@import '_variables.scss';

$jetbrains-mono-typography: mat-typography-config(
  $font-family: '"JetBrains Mono", monospace'
);

@include mat-core($jetbrains-mono-typography);

$dev-app-theme: mat-dark-theme((
  color: (
    primary: $dev-app-primary,
    accent: $dev-app-accent
  )
));

@include angular-material-theme($dev-app-theme);
